---
# tasks/configure_nic.yml

- block:
    - name: Enable promiscuous mode on Zeek NIC
      ansible.builtin.command:
        cmd: ip link set {{ ludus_zeek_nic_name }} promisc on

    - name: Verify NIC configuration
      ansible.builtin.command:
        cmd: ip link show {{ ludus_zeek_nic_name }}
      register: ludus_zeek_nic_info

    - name: Debug NIC info
      ansible.builtin.debug:
        var: ludus_zeek_nic_info.stdout_lines
  when: ludus_zeek_nic_promisc | bool
  become: true