---
# tasks/configure_zeek.yml
# Inspired by Splunk Attack Range Zeek role (https://github.com/splunk/attack_range/)

- name: Enable Zeek logging in JSON format and ignore checksum errors
  become: true
  ansible.builtin.blockinfile:
    path: '/opt/zeek/share/zeek/site/local.zeek'
    marker: "# {mark} ANSIBLE MANAGED BLOCK - Ludus Zeek Configuration"
    block: |
      # Enable Zeek logging in JSON format - best for SIEM ingestion
      redef LogAscii::json_timestamps = JSON::TS_ISO8601;
      redef LogAscii::use_json = T;
      # Ignore checksum errors - seems needed for Proxmox virtual NICs
      redef ignore_checksums = T;

- name: Update Zeek node.cfg with the correct interface
  become: true
  ansible.builtin.replace:
    path: /opt/zeek/etc/node.cfg
    regexp: '^interface=.*$'
    replace: "interface={{ ludus_zeek_nic_name }}"
  when: ludus_zeek_nic_name is defined

- name: Install Zeek configuration
  ansible.builtin.command:
    cmd: '/opt/zeek/bin/zeekctl install'
  become: true
  register: zeek_install
  changed_when: "'removing old policies' in zeek_install.stdout or 'creating policy directories' in zeek_install.stdout"

- name: Deploy Zeek
  ansible.builtin.command:
    cmd: '/opt/zeek/bin/zeekctl deploy'
  become: true
  register: zeek_deploy
  changed_when: "'starting' in zeek_deploy.stdout or 'stopping' in zeek_deploy.stdout"

- name: Check Zeek status
  ansible.builtin.command:
    cmd: '/opt/zeek/bin/zeekctl status'
  become: true
  register: zeek_status
  changed_when: false
  failed_when: false

- name: Display Zeek status
  ansible.builtin.debug:
    var: zeek_status.stdout_lines